:root {
  --primary-color: #23bbc9;
  --accent-color: #057876;
  --text-color: #ffffff;
  --hover-color: #29edff;
}


body {
  font-family: "Open Sans", sans-serif !important;
  background-color: var(--primary-color) !important;
  color: var(--text-color) !important;
  position: relative !important;
  background: transparent;
}

body::before {
  content: "";
  position: fixed;
  background: var(--accent-color);
  background-size: cover;
  left: 0;
  right: 0;
  top: 0;
  height: 100vh;
  z-index: -1;
}

@media (min-width: 1024px) {
  body::before {
    background-attachment: fixed;
  }
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: var(--hover-color)!important;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif !important;
}

#bg {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: right;
  z-index: -1;
  padding: 10%;
}

#bg.header-top {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

#header {
  transition: ease-in-out 0.3s;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  z-index: 997;
  overflow-y: auto;
}

#header * {
  transition: ease-in-out 0.3s;
}

#header h1 {
  font-size: 48px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  font-family: "Poppins", sans-serif !important;
}

#header h1 a,
#header h1 a:hover {
  color: #fff !important;
  line-height: 1;
  display: inline-block;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);

}

#header h2 {
  font-size: 24px;
  margin-top: 20px;
  color: var(--text-color);
  font-weight: bold;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

#header h2 span {
  color: #fff;
  position: relative;
}

#header h2 span::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0; /* Inicialmente, el borde estará oculto */
  height: 2px;
  background-color: #fc354c;
  animation: formarBorde 2s forwards; /* Aplica la animación formarBorde */
}

@keyframes formarBorde {
  100% {
    width: 100%; /* Al final de la animación, el borde tendrá el ancho completo */
  }
}


#header img {
  padding: 0;
  margin: 0;
}
.img-fluid {
  border-radius: 50%; /* Hace que los bordes sean redondeados */
}
#header .social-links {
  margin-top: 40px;
  display: flex;
}

#header .social-links a {
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  line-height: 1;
  margin-right: 8px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.card-icons {
  display: flex;
  justify-content: center;
}

.card-icons a {
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  line-height: 1;
  margin-right: 8px;
  width: 40px;
  height: 40px;
}

#header .social-links a:hover {
  background: #fc354c;
}

@media (max-width: 992px) {
  #header h1 {
    font-size: 36px;
  }

  #header h2 {
    font-size: 20px;
    line-height: 30px;
  }

  #header .social-links {
    margin-top: 15px;
  }

  #header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .bg {
    align-items: center;
    justify-content: center;
  }
}

#header.header-top {
  height: 80px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  background: rgba(19, 116, 125, 0.7);
}

#header.header-top .social-links,
#header.header-top h2 {
  display: none;
}

#header.header-top h1 {
  margin-right: auto;
  font-size: 36px;
}

#header.header-top .container {
  display: flex;
  align-items: center;
}

#header.header-top .navbar {
  margin: 0;
}

@media (max-width: 768px) {
  #header.header-top {
    height: 60px;
  }

  #header.header-top h1 {
    font-size: 26px;
  }
}

.navbar {
  padding: 0;
  margin-top: 35px;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar li+li {
  margin-left: 30px;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  font-family: "Poppins", sans-serif !important;
  font-size: 16px;
  font-weight: 400;
  color: rgb(255, 255, 255) !important;
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: #fc354c !important;
  visibility: hidden;
  width: 0px;
  transition: all 0.3s ease-in-out 0s !important;
}

.navbar a:hover:before,
.navbar li:hover>a:before,
.navbar .active:before {
  visibility: visible !important;
  width: 25px !important;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: var(--text-color) !important;
}

.mobile-nav-toggle {
  color: #fff !important;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
  position: fixed;
  right: 15px;
  top: 15px;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block !important;
  }

  .navbar ul {
    display: none !important;
  }
}

.navbar-mobile {
  position: fixed !important;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.9);
  transition: 0.3s;
  z-index: 999;
  margin-top: 0;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block !important;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 45px;
  left: 15px;
  padding: 10px 0;
  overflow-y: auto;
  transition: 0.3s;
  border: 2px solid rgba(255, 255, 255, 0.2);
}

.navbar-mobile li {
  padding: 12px 20px;
}

.navbar-mobile li+li {
  margin: 0;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  font-size: 16px;
  position: relative;
}

section {
  overflow: hidden;
  position: absolute;
  width: 100%;
  top: 140px;
  bottom: 100%;
  opacity: 0;
  transition: ease-in-out 0.4s;
  z-index: 2;
}

section.section-show {
  top: 100px;
  bottom: auto;
  opacity: 1;
  padding-bottom: 45px;
}

section .container {
  background: rgba(19, 116, 125, 0.9);
  padding: 30px;
}

@media (max-width: 768px) {
  section {
    top: 120px;
  }

  section.section-show {
    top: 80px;
  }
}

.section-title h2 {
  font-size: 14px;
  font-weight: bold;
  padding: 0;
  line-height: 1px;
  margin: 0 0 20px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--text-color);
  font-family: "Poppins", sans-serif;
}

.section-title h2::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: var(--primary-color);
  margin: 4px 10px;
}

.section-title p {
  margin: 0;
  margin: -15px 0 15px 0;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

.about-me .content h3 {
  font-weight: 700;
  font-size: 26px;
  color: var(--accent-color) !important;
}

.about-me .content ul {
  list-style: none !important;
  list-style-type: none !important;
  padding: 0;
}

.about-me .content ul li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  list-style-type: none;
}

li::marker {
  content: "";
  color: var(--accent-color);
}

.bi-chevron-right {
  color: var(--accent-color);
}

.about-me .content ul strong {
  margin-right: 10px;
}

.about-me .content ul i {
  font-size: 16px;
  margin-right: 5px;
  color: var(--accent-color) !important;
  line-height: 0;
}

.about-me .content ul li::marker {
  color: black;
}

.about-me .content p:last-child {
  margin-bottom: 0;
}

svg {
  width: 80vmin;
  height: 80vmin;
  overflow: visible;
}

svg .core circle {
  fill: url(#gradient);
}

svg .core circle:first-child {
  filter: url(#blur);
  opacity: 0.5;
}

svg .ring ellipse {
  stroke: var(--text-color);
  stroke-width: 1.5px;
  fill: none;
  transform-origin: center;
  stroke-dasharray: 109 6;
  stroke-dashoffset: 26;
}

svg .ring ellipse:nth-child(1) {
  filter: url(#blur);
  opacity: 0.5;
}

svg .ring ellipse:nth-child(3) {
  stroke-dasharray: 0 230;
  animation-name: orbit;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  stroke-width: 7px;
  stroke-linecap: round;
}

svg .ring ellipse:nth-child(4) {
  stroke-dasharray: 0 230;
  animation-name: orbit;
  animation-duration: 3s;
  animation-delay: -1.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  stroke-width: 7px;
  stroke-linecap: round;
}

svg .ring:nth-child(2) ellipse {
  animation-duration: 6s;
  animation-direction: reverse;
}

svg .ring:nth-child(3) ellipse.ring:nth-child(3) {
  animation-delay: -1s;
}

@keyframes orbit {
  0% {
    stroke-dashoffset: 0;
  }
  50% {
    stroke-width: 4px;
  }
  100% {
    stroke-dashoffset: 230;
  }
}


.interests {
justify-content: center !important;
align-items: center !important;
padding: 20px;
}
.box{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-inline: 10%;
}

.icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px ;
  height: 50px;
  margin-top: 4%;
  margin-right: 4%;
  padding: 10px;
  background: rgba(10, 191, 188, 0.4);
  transition: ease-in-out 0.3s;
  border-radius: 50%;
}

.icon-box svg {
  font-size: 30px ;
  padding-right: 0px;
  padding: 20px;
}
.icon-box img {
  width: 40px;

}

.icon-box h3 {
  font-weight: bold;
  margin: 0;
  display: none;
  font-size: 10px;
  color: #fff;
  text-align: center; /* Ajusta el texto al centro */
}

.icon-box:hover {
  background: rgba(10, 191, 188, 0.9) !important;
}

.about .resume-title {
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #fff;
}

.about .resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid rgba(255, 255, 255, 0.2);
  position: relative;
}

.about .resume-item h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: var(--primary-color);
  margin-bottom: 10px;
}

.about .resume-item h5 {
  font-size: 16px;
  background: rgba(255, 255, 255, 0.15);
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}

.about .resume-item ul {
  padding-left: 20px;
}

.about .resume-item ul li {
  padding-bottom: 10px;
}

.about .resume-item ul li i {
  color: var(--accent-color) !important;
}

.about .resume-item:last-child {
  padding-bottom: 0;
}

.about .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: var(--primary-color);
  border: 2px solid var(--primary-color);
}

.services .card {
  text-align: left;
  background: rgba(204, 204, 204, 0.1);
  transition: all ease-in-out 0.3s;
}

.services .icon-box h4 {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 24px;
}

.services .icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.services .card:hover {
  background: var(--accent-color);
  border-color: var(--accent-color);
}

.services .card-img-top {
  width: 100%;
  height: 40% !important;
  object-fit: cover;
}

.services .icon-box:hover h4 a,
.services .icon-box:hover p {
  color: #fff;
}


@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}



